<div class="hide">
    <?= $this->layout = "Materialize.materialize"; ?>
</div>

{% set fields = Bake.filterFields(fields, schema, modelObject) %}

<div class="row">
    <div class="col s12 m4 l3 nav-margin">
        <b class="collapsible-header red-text darken-4">Actions</b>
        <ul>
{% if strpos(action, 'add') is same as(false) %}
            <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}],
                ['confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ primaryKey[0] }})]
                )
                ?></li>
    {% endif %}
            <li><?= $this->Html->link(__('List {{ pluralHumanName }}'), ['action' => 'index']) ?></li>
{{- "\n" }}
{%- set done = [] %}
{% for type, data in associations %}
    {%- for alias, details in data %}
        {%- if details.controller is not same as(_view.name) and details.controller not in done %}
            <li><?= $this->Html->link(__('List {{ alias|underscore|humanize }}'), ['controller' => '{{ details.controller }}', 'action' => 'index']) ?></li>
            <li><?= $this->Html->link(__('New {{ alias|singularize|underscore|humanize }}'), ['controller' => '{{ details.controller }}', 'action' => 'add']) ?></li>
            {{- "\n" }}
            {%- set done = done|merge([details.controller]) %}
        {%- endif %}
    {%- endfor %}
{% endfor %}
        </ul>
    </div>

    <div class="col s12 m8 l6">
        <?= $this->Form->create(${{ singularVar }}) ?>
        <h3><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h3>
    {% for field in fields if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
        <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]) ?>
        {{- "\n" }}
    {%- else %}
        <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]) ?>
        <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]) ?>
        {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
    {% if fieldData.type == 'date' %}
        <div class="col s8">
            <?= $this->Form->control('{{ field }}', ['type' => 'text', 'class' => 'datepicker']) ?>
        </div>
    {% elseif fieldData.type == 'time' %}
        <div class="col s8">
            <?= $this->Form->control('{{ field }}', ['type' => 'text', 'class' => 'timepicker']) ?>
        </div>
    {%- else %}
        <div class="col s8">
            <?= $this->Form->control('{{ field }}', ['empty' => true]) ?>
        </div>
    {{- "\n" }}
        {%- endif %}
        {%- else %}
        <div class="input-field col s8">
            <?= $this->Form->control('{{ field }}') ?>
        </div>
        {{- "\n" }}
        {%- endif %}
        {%- endif %}
        {%- endfor %}
        {%- if associations.BelongsToMany %}
            {%- for assocName, assocData in associations.BelongsToMany %}
        <div class="col s8">
            <?= $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]) ?>
        {{- "\n" }}
        </div>
        {{- "\n" }}
        {%- endfor %}
        {% endif %}
        {{- "\n" }}
        <?= $this->Form->button(__('Submit')) ?>
        <?= $this->Form->end() ?>
    </div>
</div>